<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hammer.obsidianviewer</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/ronaldmajewski/open-webui/.venv/bin/python</string>
        <string>/Users/ronaldmajewski/hammer-obsidian-server.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/ronaldmajewski/open-webui/data/obsidian-viewer.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ronaldmajewski/open-webui/data/obsidian-viewer.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
